<br>
<marquee>
    <span>Get extra 10% discount on Prepaid Orders</span>
    <span><fa-icon [icon]="faCircle" size="2xs"></fa-icon></span>
    <span>Grab our new collection today !</span>
    <span><fa-icon [icon]="faCircle" size="2xs"></fa-icon></span>
    <span>Pay using
        <fa-icon [icon]="faApplePay" size="2xl"></fa-icon>&nbsp;or
        <fa-icon [icon]="faGooglePay" size="2xl"></fa-icon>
        and get 5% Cashback
    </span>
    <span><fa-icon [icon]="faCircle" size="2xs"></fa-icon></span>
    <span>Purchase
        <img style="width: 80px; height: 20px;" src="../../assets/star.png" alt="">
        products and get assured cashback coupon in Future
    </span>
</marquee>
<nav class="nav">
    <a routerLink="/"><img src="../../assets/logo.png"></a>
    <div *ngIf="menuType === 'default'" class="nav-search">
        <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()"
            placeholder="Search for Products..." />
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a (mousedown)="redirectDetails(item.id)">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink=""> <strong>Home</strong></a></li>
            <li><a routerLink="seller-auth"><strong>Seller</strong></a></li>
            <li><a routerLink="/user-auth"><strong>Customer</strong></a></li>
            <li><fa-icon [icon]="cart"></fa-icon></li>
            <li><a href="#"><strong>Cart({{cartItems}})</strong></a></li>
        </ul>
        <ul *ngSwitchCase="'user'">
            <li><a routerLink=""> <strong>Home</strong></a></li>
            <li><a routerLink="seller-auth"><strong>Seller</strong></a></li>
            <u><li><a style="color: blueviolet !important;" routerLink="user-auth"><strong>{{userName | titlecase}}</strong></a></li></u>
            <li><a href="#"><strong>Cart({{cartItems}})</strong></a></li>
            <li><a (click)="userLogout()"><strong>Logout</strong></a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="seller-add-product"><strong>Add Product</strong></a></li>
            <li><a routerLink="seller-home"><strong>List</strong></a></li>
            <u><li><a style="color: blueviolet !important;" href="#"> <strong> {{sellerName | titlecase}}</strong></a></li></u>
            <li><a (click)="sellerLogout()" class="logout"><strong>Logout</strong></a></li>
        </ul>
    </div>
</nav>
