<footer>
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="https://www.facebook.com/writershubh/" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a href="https://twitter.com/writer_shubh" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faXTwitter"></fa-icon>
            </a>
            <a href="https://www.threads.net/@writer_shubh" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faThreads"></fa-icon>
            </a>
            <a href="https://www.youtube.com/@shubh_writer" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faYoutube"></fa-icon>
            </a>
            <a href="https://www.instagram.com/writer_shubh/" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/writershubh/" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
            <a href="https://github.com/writershubh" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
            <a href="" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faWhatsapp"></fa-icon>
            </a>
            <a href="" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faFacebookMessenger"></fa-icon>
            </a>
            <a href="" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faTelegram"></fa-icon>
            </a>
            <a href="" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faSnapchat"></fa-icon>
            </a>
            <a href="" class="me-4 text-reset" target="_blank">
                <fa-icon [icon]="faDiscord"></fa-icon>
            </a>
        </div>
    </section>
    <section>
        <div class="text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <a routerLink="/"><img style="width: 160px;
                            height: 47px;" src="../../assets/logo.png"></a>
                    </h6>
                    <p>
                        Welcome to Light Studio, your premier destination for cutting-edge electronics.
                        We're passionate about bringing you the latest and greatest in technology,
                        all in one convenient online store.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h5 class="text-uppercase fw-bold mb-4">
                        CUSTOMER SERVICE
                    </h5>
                    <p>
                        <a href="#!" class="text-reset">Contact Us</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Track Order</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Return Order</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Cancel Order</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h5 class="text-uppercase fw-bold mb-4">
                        COMPANY
                    </h5>
                    <p>
                        <a href="#!" class="text-reset">About Us</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">We're Hiring</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Terms & Conditions</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Privacy Policy</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h5 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h5>
                    <p><fa-icon [icon]="faHouse"></fa-icon> Light Studio Private Limited,<br>Bermo, Bokaro, Jharkhand -
                        829104</p>
                    <p>
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                        info@lightstudio.com, seller@lightstudio.com
                    </p>
                    <p><fa-icon [icon]="faPhone"></fa-icon> +91-8987137601</p>
                    <p>Download the app <fa-icon [icon]="faApple"></fa-icon>&nbsp;&nbsp;<fa-icon
                            [icon]="faAndroid"></fa-icon></p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="http://localhost:4200/">Lightstudio.com</a>
        • Proudly Made with <fa-icon [icon]="faHeart"></fa-icon> in India
    </div>
</footer>