<div class="row product-details" *ngIf="productData">
  <div class="col-sm-6">
    <!-- <img class="product-image" src="{{productData.image}}" alt=""> -->
    <ngb-carousel *ngIf="trendyProducts">
      <ng-template *ngFor="let item of trendyProducts" ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="product-header-img" src="{{item.image}}" />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="col-sm-6">
    <div class="details">
      <h1 style="margin-bottom: 5px;">{{productData.name}}</h1>
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      &nbsp;
      <span>2,56,728 Ratings & 12,657 Reviews</span>&nbsp;
      <span><img style="width: 80px; height: 20px;" src="../../assets/star.png" alt=""></span>
      <h2 style="margin-bottom: 10px; margin-top: 10px;">₹<strong>{{productData.price}}</strong></h2>
      <h3 style="margin-bottom: 0px !important;"><strong>Available offers</strong></h3>
      <ul>
        <li><strong>Partnership Offer</strong> 5% Cashback on <fa-icon [icon]="faApplePay" size="2xl"></fa-icon>&nbsp;,
          <fa-icon [icon]="faGooglePay" size="2xl"></fa-icon>
        </li>
        <li><strong>Special Price</strong> Get extra ₹3901 off (price inclusive of cashback/coupon) T&C</li>
        <li><strong>Partner Offer</strong> Sign-up for Pay Later & get free Times Prime Benefits worth ₹10,000
        </li>
        <li><strong>Partner Offer</strong> Purchase now & get 1 surprise cashback coupon in Future</li>
      </ul>
      <div>
        <h3>Color: <h5 [style.backgroundColor]="productData.color" class="product-color"></h5>
        </h3>
      </div>
      <h3><strong>Brand/Category/OS:</strong>&nbsp;<fa-icon [icon]="faApple"></fa-icon>&nbsp;{{productData.category}}
      </h3>
      <h3><strong>Highlights:</strong> {{productData.description}}</h3>
      <h3 style="margin-bottom: 0px !important;"><strong>Easy Payment Options</strong></h3>
      <ul>
        <li>UPI</li>
        <li>Net banking</li>
        <li>Credit/ Debit/ ATM card</li>
        <li>Wide Range of EMI Options</li>
      </ul>
      <h3 style="color: blueviolet;"><fa-icon [icon]="faCircleExclamation"></fa-icon>&nbsp;7 Days Service Center
        Replacement/Repair</h3>
      <button *ngIf="!removeCart" class="form-input cartnBuyNow" (click)="addToCart()"
        style="background: #ff9f00; color: #fff;"><fa-icon [icon]="faCartShopping"></fa-icon> ADD TO CART</button>&nbsp;
      <button *ngIf="removeCart" class="form-input cartnBuyNow" (click)="removeFromCart(productData.id)"
        style="background: #2874f0; color: #fff;"><fa-icon [icon]="faRemove"></fa-icon> REMOVE</button>&nbsp;
      <button class="form-input cartnBuyNow" style="background: #fb641b; color: #fff;"><fa-icon
          [icon]="faBoltLightning"></fa-icon> BUY NOW</button>
      <div class="quantity-group">
        <button class="minuplus" (click)="handleQuantity('min')"><fa-icon [icon]="faMinus"></fa-icon></button>
        &nbsp;
        <input class="count" type="text" value="{{productQuantity}}">
        &nbsp;
        <button class="minuplus" (click)="handleQuantity('plus')"><fa-icon [icon]="faPlus"></fa-icon></button>
      </div>
    </div>
  </div>
</div>