.product-list, th, td{
    font-weight: 100;
    text-align: center;
}
table{
    font-weight: 100;
    text-align: left;
    border-collapse: collapse;
}
table td, table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-height: 160px;
}
img{
    width: 100px;
    height: 100px;
}