<div class="product-list">
    <h1>All Products</h1>
    <p class="msg-p">{{productMsg}}</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{item.image}}" /></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.color}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <td>
                    <a class="deleteList" routerLink="/seller-update-product/{{item.id}}"><fa-icon [icon]="editIcon"></fa-icon></a>
                    <a class="deleteList"><fa-icon class="adjust-edit" (click)="deleteProduct(item.id)" [icon]="deleteIcon"></fa-icon></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>