<div class="user-auth">
    <!-- Signup Area -->
    <div *ngIf="!showLogin" class="signup">
        <h1>Create a new account</h1>
        <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp?.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="name" placeholder="Enter Name" #name="ngModel" required>
            <p class="invalid-input"><span *ngIf="name.invalid && name.touched">Please Enter Name</span></p>
            <input class="form-input" type="email" ngModel name="email" placeholder="Enter Email" #email="ngModel"
                required email>
            <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter Valid Email</span></p>
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password"
                #password="ngModel" required minlength="6" maxlength="20">
            <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter Password</span></p>
            <button [disabled]="userSignUp.invalid" class="form-button">Create Account</button>
            <a class="auth-toggle-link" (click)="openLoginUser()"><u>Log In with an existing account</u></a>
        </form>
    </div>
    <!-- Login Area -->
    <div *ngIf="showLogin" class="login">
        <h1>Welcome back!</h1>
        <p>Log in for faster checkout and see all your benefits.</p>
        <p class="error-p">{{authError}}</p>
        <form #userLogin="ngForm" (ngSubmit)="login(userLogin?.value)" class="common-form">
            <input class="form-input" type="email" ngModel name="email" placeholder="Enter Email" #email="ngModel"
                required email>
            <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter Valid Email</span></p>
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password"
                #password="ngModel" required minlength="6" maxlength="20">
            <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter Password</span></p>
            <button [disabled]="userLogin.invalid" class="form-button">Sign In</button>
            <a class="auth-toggle-link" (click)="openSignUpUser()"><u>Create a new account</u></a>
        </form>
    </div>
</div>