/* You can add global styles to this file, and also import other style files */
body, .form-input, .common-form {
    font-family: 'Helvetica-Now-Text-Light', Helvetica, Arial, sans-serif !important;
    font-weight: 100 !important;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

.common-form {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.form-input {
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
}

.form-button {
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
}

.error-p {
    color: crimson !important;
}

h1,
p {
    color: black;
    font-weight: 100 !important;
}
.msg-p{
    color: green;
}
.carousel-caption{
    background-color: #00000082;
    border-radius: 5px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border-radius: 5px;
}
