<div class="row search-item" *ngFor="let item of searchResult">
    <div class="col-sm-3">
        <a routerLink="/details/{{item.id}}">
            <img src="{{item.image}}" alt="">
        </a>
    </div>
    <div class="col-sm-8 details">
        <h6 style="margin-top: 10px;"><a routerLink="/details/{{item.id}}">{{item.name}}</a></h6>
        <p><strong>Price: ₹{{item.price}}</strong></p>
        <p><strong>{{item.description}}</strong></p>
        <p style="color: green;">Save extra with combo offer</p>
        <p>Free Delivery, No Cost EMI available.</p>
    </div>
</div>