<ngb-carousel *ngIf="popularProducts">
	<ng-template *ngFor="let item of popularProducts" ngbSlide>
		<div class="picsum-img-wrapper">
			<a routerLink="/details/{{item.id}}">
				<img class="product-header-img" src="{{item.image}}" />
			</a>
		</div>
		<div class="carousel-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>

<h1 style="margin-top: 80px !important;">Select Product</h1>
<div class="card_container">
	<div class="card">
		<img class="product-header-img"
			src="https://cdn.shopify.com/s/files/1/0726/1814/8146/files/iphone_new.png?v=1686665748" />
		<div class="text-section">
			<h3> iPhone</h3>
			<span>Switch from Android</span>
		</div>
	</div>
	<div class="card">
		<img class="product-header-img"
			src="https://cdn.shopify.com/s/files/1/0726/1814/8146/files/iphone_1_1.png?v=1686665436" />
		<div class="text-section">
			<h3> Watch</h3>
			<span>Snap it on</span>
		</div>
	</div>
	<div class="card">
		<img class="product-header-img"
			src="https://cdn.shopify.com/s/files/1/0726/1814/8146/files/iphone_1_2.png?v=1686665533" />
		<div class="text-section">
			<h3> Airpods</h3>
			<span>Grab the deal</span>
		</div>
	</div>
	<div class="card">
		<img class="product-header-img"
			src="https://cdn.shopify.com/s/files/1/0726/1814/8146/files/iphone_1_3.png?v=1686665629" />
		<div class="text-section">
			<h3> Accessories</h3>
			<span>Accessories & more</span>
		</div>
	</div>
</div>

<div class="product-list-wrapper">
	<h1>Trending Products</h1>
	<div class="row">
		<div class="col-sm-3" *ngFor="let item of trendyProducts">
			<div class="product-item">
				<a routerLink="/details/{{item.id}}">
					<img class="product-header-img" src="{{item.image}}" />
				</a>
				<div class="product-details">
					<h3 class="name-head">{{item.name}}</h3>
					<div class="product-price">
						<h4>Price: ₹<strong>{{item.price}}</strong></h4>
						<h4>Color: <strong>{{item.color}}</strong></h4>
						<h5>{{item.description}}</h5>
						<h5 class="h5class">Save extra with combo offer</h5>
						<h5>Free Delivery, No Cost EMI available.</h5>
					</div>
				</div>
				<div class="product-footer">
					<!-- <a routerLink="/details/{{item.id}}">View Details <fa-icon [icon]="faCircleInfo"></fa-icon></a> -->
					<a>
						<fa-icon [icon]="faCartShopping"></fa-icon>
						<input style="color: white;" type="submit" value="ADD TO CART" class="btn">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>